In [1]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("titanic_train.csv")
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [3]:
df.describe()

           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [16]:
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,Sex2
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00000,1,0,228414,26.0000,NaN,S,1,0
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,29.70056,0,0,A/5 2466,8.0500,NaN,S,0,1
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00000,0,0,250655,26.0000,NaN,S,0,1
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00000,0,4,349909,21.0750,NaN,S,0,0
4,3,"Sutehall, Mr. Henry Jr",male,25.00000,0,0,SOTON/OQ 392076,7.0500,NaN,S,0,1
5,3,"Lemberopolous, Mr. Peter L",male,34.50000,0,0,2683,6.4375,NaN,C,0,1
6,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00000,1,0,113803,53.1000,C123,S,1,0
7,3,"Jonkoff, Mr. Lalio",male,23.00000,0,0,349204,7.8958,NaN,S,0,1
8,2,"Williams, Mr. Charles Eugene",male,29.70056,0,0,244373,13.0000,NaN,S,1,1
9,3,"Rouse, Mr. Richard Henry",male,50.00000,0,0,A/5 3594,8.0500,NaN,S,0,1
10,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00000,0,0,CA. 2314,7.5500,NaN,S,1,0
11,3,"Kassem, Mr. Fared",male,29.70056,0,0,2700,7.2292,NaN,C,0,1
12,2,"Fox, Mr. Stanley Hubert",male,36.00000,0,0,229236,13.0000,NaN,S,0,1
13,3,"Lennon, Mr. Denis",male,29.70056,1,0,370371,15.5000,NaN,Q,0,1
14,3,"Healy, Miss. Hanora ""Nora""",female,29.70056,0,0,370375,7.7500,NaN,Q,1,0
15,3,"Gustafsson, Mr. Johan Birger",male,28.00000,2,0,3101277,7.9250,NaN,S,0,1
16,3,"Jonsson, Mr. Carl",male,32.00000,0,0,350417,7.8542,NaN,S,1,1
17,3,"Abbing, Mr. Anthony",male,42.00000,0,0,C.A. 5547,7.5500,NaN,S,0,1
18,1,"Graham, Mr. George Edward",male,38.00000,0,1,PC 17582,153.4625,C91,S,0,1
19,3,"Jermyn, Miss. Annie",female,29.70056,0,0,14313,7.7500,NaN,Q,1,0
20,1,"Reuchlin, Jonkheer. John George",male,38.00000,0,0,19972,0.0000,NaN,S,0,1
21,3,"Boulos, Mrs. Joseph (Sultana)",female,29.70056,0,2,2678,15.2458,NaN,C,0,0
22,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00000,0,0,C.A. 33595,15.7500,NaN,S,1,0
23,3,"Sawyer, Mr. Frederick Charles",male,24.50000,0,0,342826,8.0500,NaN,S,0,1
24,3,"Masselmani, Mrs. Fatima",female,29.70056,0,0,2649,7.2250,NaN,C,1,0
25,3,"Sage, Miss. Constance Gladys",female,29.70056,8,2,CA. 2343,69.5500,NaN,S,0,0
26,1,"Andrews, Mr. Thomas Jr",male,39.00000,0,0,112050,0.0000,A36,S,0,1
27,1,"Ringhini, Mr. Sante",male,22.00000,0,0,PC 17760,135.6333,NaN,C,0,1
28,3,"Eklund, Mr. Hans Linus",male,16.00000,0,0,347074,7.7750,NaN,S,0,1
29,2,"Matthews, Mr. William John",male,30.00000,0,0,28228,13.0000,NaN,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
638,3,"Davies, Mr. Alfred J",male,24.00000,2,0,A/4 48871,24.1500,NaN,S,0,1
639,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,22.00000,1,2,SC/Paris 2123,41.5792,NaN,C,1,0
640,3,"Lefebre, Miss. Ida",female,29.70056,3,1,4133,25.4667,NaN,S,0,0
641,3,"Jussila, Mr. Eiriik",male,32.00000,0,0,STON/O 2. 3101286,7.9250,NaN,S,1,1
642,1,"Calderhead, Mr. Edward Pennington",male,42.00000,0,0,PC 17476,26.2875,E24,S,1,1
643,3,"Kallio, Mr. Nikolai Erland",male,17.00000,0,0,STON/O 2. 3101274,7.1250,NaN,S,0,1
644,1,"Baumann, Mr. John D",male,29.70056,0,0,PC 17318,25.9250,NaN,S,0,1
645,2,"Richards, Master. George Sibley",male,0.83000,1,1,29106,18.7500,NaN,S,1,1
646,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00000,2,2,W./C. 6608,34.3750,NaN,S,0,0
647,1,"Kent, Mr. Edward Austin",male,58.00000,0,0,11771,29.7000,B37,C,0,1
648,2,"Harper, Rev. John",male,28.00000,0,1,248727,33.0000,NaN,S,0,1
649,3,"Adams, Mr. John",male,26.00000,0,0,341826,8.0500,NaN,S,0,1
650,3,"Vander Cruyssen, Mr. Victor",male,47.00000,0,0,345765,9.0000,NaN,S,0,1
651,3,"Thorneycroft, Mr. Percival",male,29.70056,1,0,376564,16.1000,NaN,S,0,1
652,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.00000,1,2,C.A. 34651,27.7500,NaN,S,1,0
653,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00000,1,0,A/5. 3337,14.5000,NaN,S,0,0
654,3,"Todoroff, Mr. Lalio",male,29.70056,0,0,349216,7.8958,NaN,S,0,1
655,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00000,1,0,11753,52.5542,D19,S,1,1
656,3,"Turcin, Mr. Stjepan",male,36.00000,0,0,349247,7.8958,NaN,S,0,1
657,3,"Cacic, Mr. Luka",male,38.00000,0,0,315089,8.6625,NaN,S,0,1
658,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00000,1,5,347077,31.3875,NaN,S,1,0
659,3,"O'Brien, Mr. Timothy",male,29.70056,0,0,330979,7.8292,NaN,Q,0,1
660,2,"Becker, Master. Richard F",male,1.00000,2,1,230136,39.0000,F4,S,1,1
661,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,29.70056,1,0,PC 17604,82.1708,NaN,C,1,0
662,1,"Walker, Mr. William Anderson",male,47.00000,0,0,36967,34.0208,D46,S,0,1
663,2,"Ilett, Miss. Bertha",female,17.00000,0,0,SO/C 14885,10.5000,NaN,S,1,0
664,3,"Morrow, Mr. Thomas Rowan",male,29.70056,0,0,372622,7.7500,NaN,Q,0,1
665,3,"Bing, Mr. Lee",male,32.00000,0,0,1601,56.4958,NaN,S,1,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.00000,0,0,7553,9.8375,NaN,S,0,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,29.70056,1,0,367230,15.5000,NaN,Q,1,0

In [4]:
df.info()
df = df.fillna(df.mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
Pclass      668 non-null int64
Name        668 non-null object
Sex         668 non-null object
Age         536 non-null float64
SibSp       668 non-null int64
Parch       668 non-null int64
Ticket      668 non-null object
Fare        668 non-null float64
Cabin       154 non-null object
Embarked    667 non-null object
Survived    668 non-null int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex2'] = le.fit_transform(df['Sex'])

In [6]:
X = df[['Pclass', 'Sex2', 'Age',
       'SibSp', 'Parch', 'Fare']].values
Y = df[['Survived']].values

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [8]:
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression()
# training Linear Regression model on training data
LogReg.fit(X_train, Y_train)
# The coefficients
print ('Coefficients: ', LogReg.coef_)
print ('Intercept: ',LogReg.intercept_)

Coefficients:  [[-0.74477342 -2.40213658 -0.02352602 -0.28530632 -0.14921334  0.0049607 ]]
Intercept:  [3.51828844]

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
LogReg.predict(X)

array([1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1], dtype=int64)

In [10]:
df2 = pd.read_csv("titanic_test.csv")
df2.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S

In [11]:
df2.info()
df2 = df2.fillna(df2.mean())
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 10 columns):
Pclass      223 non-null int64
Name        223 non-null object
Sex         223 non-null object
Age         178 non-null float64
SibSp       223 non-null int64
Parch       223 non-null int64
Ticket      223 non-null object
Fare        223 non-null float64
Cabin       50 non-null object
Embarked    222 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 17.5+ KB

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.000000,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.000000,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,29.694775,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.000000,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.000000,0,0,PC 17473,26.2875,E25,S
5,1,"Artagaveytia, Mr. Ramon",male,71.000000,0,0,PC 17609,49.5042,NaN,C
6,3,"de Pelsmaeker, Mr. Alfons",male,16.000000,0,0,345778,9.5000,NaN,S
7,3,"Scanlan, Mr. James",male,29.694775,0,0,36209,7.7250,NaN,Q
8,3,"Pettersson, Miss. Ellen Natalia",female,18.000000,0,0,347087,7.7750,NaN,S
9,3,"Smiljanic, Mr. Mile",male,29.694775,0,0,315037,8.6625,NaN,S
10,1,"Andrews, Miss. Kornelia Theodosia",female,63.000000,1,0,13502,77.9583,D7,S
11,3,"Sdycoff, Mr. Todor",male,29.694775,0,0,349222,7.8958,NaN,S
12,1,"Hays, Miss. Margaret Bechstein",female,24.000000,0,0,11767,83.1583,C54,C
13,3,"Heininen, Miss. Wendla Maria",female,23.000000,0,0,STON/O2. 3101290,7.9250,NaN,S
14,1,"Goldschmidt, Mr. George B",male,71.000000,0,0,PC 17754,34.6542,A5,C
15,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,NaN,S
16,3,"Kalvik, Mr. Johannes Halvorsen",male,21.000000,0,0,8475,8.4333,NaN,S
17,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,NaN,S
18,3,"Karlsson, Mr. Nils August",male,22.000000,0,0,350060,7.5208,NaN,S
19,3,"Hegarty, Miss. Hanora ""Nora""",female,18.000000,0,0,365226,6.7500,NaN,Q
20,3,"Moran, Miss. Bertha",female,29.694775,1,0,371110,24.1500,NaN,Q
21,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q
22,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
23,2,"Herman, Miss. Alice",female,24.000000,1,2,220845,65.0000,NaN,S
24,3,"Keefe, Mr. Arthur",male,29.694775,0,0,323592,7.2500,NaN,S
25,1,"Williams-Lambert, Mr. Fletcher Fellows",male,29.694775,0,0,113510,35.0000,C128,S
26,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S
27,1,"Holverson, Mr. Alexander Oskar",male,42.000000,1,0,113789,52.0000,NaN,S
28,3,"Baclini, Miss. Eugenie",female,0.750000,2,1,2666,19.2583,NaN,C
29,2,"Ridsdale, Miss. Lucy",female,50.000000,0,0,W./C. 14258,10.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...
193,3,"Moutal, Mr. Rahamin Haim",male,29.694775,0,0,374746,8.0500,NaN,S
194,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,NaN,S
195,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
196,1,"Hippach, Miss. Jean Gertrude",female,16.000000,0,1,111361,57.9792,B18,C
197,3,"Laitinen, Miss. Kristina Sofia",female,37.000000,0,0,4135,9.5875,NaN,S
198,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.000000,1,0,2003,26.0000,NaN,S
199,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.000000,0,0,110152,86.5000,B77,S
200,3,"Tobin, Mr. Roger",male,29.694775,0,0,383121,7.7500,F38,Q
201,1,"Stahelin-Maeglin, Dr. Max",male,32.000000,0,0,13214,30.5000,B50,C
202,3,"Perkin, Mr. John Henry",male,22.000000,0,0,A/5 21174,7.2500,NaN,S
203,1,"Gee, Mr. Arthur H",male,47.000000,0,0,111320,38.5000,E63,S
204,3,"McMahon, Mr. Martin",male,29.694775,0,0,370372,7.7500,NaN,Q
205,3,"Hagland, Mr. Konrad Mathias Reiersen",male,29.694775,1,0,65304,19.9667,NaN,S
206,3,"Chip, Mr. Chang",male,32.000000,0,0,1601,56.4958,NaN,S
207,3,"Bostandyeff, Mr. Guentcho",male,26.000000,0,0,349224,7.8958,NaN,S
208,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.000000,0,0,113572,80.0000,B28,NaN
209,3,"Skoog, Miss. Mabel",female,9.000000,3,2,347088,27.9000,NaN,S
210,3,"Samaan, Mr. Youssef",male,29.694775,2,0,2662,21.6792,NaN,C
211,3,"Ohman, Miss. Velin",female,22.000000,0,0,347085,7.7750,NaN,S
212,2,"Sobey, Mr. Samuel James Hayden",male,25.000000,0,0,C.A. 29178,13.0000,NaN,S
213,1,"Molson, Mr. Harry Markland",male,55.000000,0,0,113787,30.5000,C30,S
214,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,NaN,S
215,2,"Keane, Miss. Nora A",female,29.694775,0,0,226593,12.3500,E101,Q
216,3,"Pasic, Mr. Jakob",male,21.000000,0,0,315097,8.6625,NaN,S
217,3,"Moore, Mr. Leonard Charles",male,29.694775,0,0,A4. 54510,8.0500,NaN,S
218,3,"Lindqvist, Mr. Eino William",male,20.000000,1,0,STON/O 2. 3101285,7.9250,NaN,S
219,1,"Butt, Major. Archibald Willingham",male,45.000000,0,0,113050,26.5500,B38,S
220,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.000000,1,0,PC 17758,108.9000,C65,C
221,3,"Holm, Mr. John Fredrik Alexander",male,43.000000,0,0,C 7075,6.4500,NaN,S
222,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.500000,0,2,230080,26.0000,F2,S

In [12]:
df2['Sex2'] = le.fit_transform(df2['Sex'])

In [13]:
X2 = df2[['Pclass', 'Sex2', 'Age',
       'SibSp', 'Parch', 'Fare']].values

In [14]:
y_pred = LogReg.predict(X2)

In [15]:
np.savetxt("titanic_pred.csv",y_pred,delimiter=",",fmt="%0.5f")